<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/layouts/header :: head">
</head>
<body  class= "container-fluid" th:each="contractor: ${contractorProfile}">
<header id="top_bar_nav">
    <nav th:replace="fragments/layouts/nav :: nav_top"></nav>
</header>

<aside class="bg-white" id="left_sidebar_nav">
    <div class="nav flex-column" id="side_menu">
        <div class="container">
            <div id="wrapper">
                <div id="menu-overlay"></div>
                <div id="menu">
                    <ul class="ul_menu">
                        <li class="parent"><a class="link-dark text-decoration-none fw-semibold fs-4" th:href="@{/{id}/test (id=${contractor.id})}">timepeace</a>
                        </li>
                        <li class="parent"><a class="link-dark text-decoration-none" th:href="@{/{id}/contractor (id=${contractor.id})}">
                            <i class="bi bi-house-door-fill"></i> Dashboard</a></li>
                        <li  class="parent"><i class="bi bi-list-task"></i> Project
                            <ul class="sub-nav">
                                <li><a class="dropdown-item" th:href="@{/{id}/contractor (id=${contractor.id})}">View Projects</a></li>
                                <li><a th:href="@{/{id}/project/new (id=${contractor.id})}">Add Project</a></li>
                            </ul>
                        </li>
                        <li class="parent"> <i class="bi bi-gear"></i> Account
                            <ul class="sub-nav">
                                <li><a  class="dropdown-item " href="#">Profile Details</a></li>
                                <li><a class="dropdown-item" th:href="@{/edit/{id} (id=${contractor.id})}">Account Settings</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>

<main class="bg-secondary bg-opacity-10"  id="page_container">
    <article id="main_content">
        <section class="clearfix p-3">
        <div id="page_heading" class="float-start fw-semibold fs-5"> Dashboard Summary</div>

            <div class="float-end fs-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-6">
                        <li class="breadcrumb-item"><a  th:href="@{/{id}/contractor (id=${contractor.id})}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Summary</li>
                    </ol>
                </nav>
            </div>
        </section>
        <section class="bg-white">

            <div class="row p-3">
                <div class=" col-sm-4 ">
                    <div style="height: 150px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Monthly Income</h5>
                            <p class="card-text">£[[${thisMonthIncome}]]</p>
                            <p>[[${compareIncome}]]</p>
                        </div>
                    </div>
                </div>
                <div  class="col-sm-4">
                    <div style="height: 150px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Monthly Hours</h5>
                            <p class="card-text">[[${thisMonthHours}]] hours</p>
                            <p>[[${compareHours}]]</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="height: 150px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Current Projects</h5>
                            <p class="card-text">[[${countProjects}]]</p>
                            <p>[[${compareProjects}]]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class=" col-sm-12">
                    <div style="height: 420px;" class="card rounded-0">
                        <div class="card-body">
                            <figure class="highcharts-figure">
                                <div id="container"></div>
                            </figure>
                            <script th:inline="javascript">
                                var mapCategories = [[${monthlyIncomeCurrentYear.keySet()}]];
                                var incomeMap = [[${monthlyIncomeCurrentYear.values()}]];
                                var incomeMapPrevYear = [[${monthlyIncomePreviousYear.values()}]]
                                var theYear = [[${theYear}]]
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-top: 20px" class="bg-white">
            <div class="row p-3">
                <div class=" col-sm-4 ">
                    <div style="height: 270px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Weeks Still In Progress</h5>
                            <p class="card-text"></p>

                            <table class="table table-hover ">
                                <tbody>
                                <tr style="vertical-align: middle;" th:each="list: ${pendingList}">
                                    <td>
                                        <a class="btn rounded-0 "
                                           th:href="@{/{c_id}/project/{p_id}/task/week_of/{t_wo}  (c_id=${contractor.id}, p_id=${list.project.p_id}, t_wo=${list.weekOf})}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    </td>
                                    <td th:text="${#dates.format(list.weekOf, 'dd-MMM-yy')}"></td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>[[${list.weekTotal}]] hrs</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div  class="col-sm-4">
                    <div style="height: 270px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Weeks Awaiting Approval</h5>
                            <p class="card-text"></p>
                            <table class="table table-hover ">
                                <tbody>
                                <tr th:each="list: ${submittedList}">
                                    <td>
                                        <a style="vertical-align: middle;"  class="btn rounded-0 "
                                           th:href="@{/{c_id}/project/{p_id}/task/week_of/{t_wo}  (c_id=${contractor.id}, p_id=${list.project.p_id}, t_wo=${list.weekOf})}">
                                        <i class="bi bi-eye"></i>
                                        </a>
                                    </td>
                                    <td th:text="${#dates.format(list.weekOf, 'dd-MMM-yy')}"></td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>[[${list.weekTotal}]] hrs</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="height: 270px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Weeks Awaiting Payment</h5>
                            <p class="card-text"></p>
                            <table class="table table-hover ">
                                <tbody>
                                <tr style="vertical-align: middle;" th:each="list: ${approvedList}">
                                    <td>
                                        <a class="btn rounded-0 "
                                           th:href="@{/{c_id}/project/{p_id}/task/week_of/{t_wo}  (c_id=${contractor.id}, p_id=${list.project.p_id}, t_wo=${list.weekOf})}"> <i class="bi bi-eye"></i>
                                        </a>
                                    </td>
                                    <td th:text="${#dates.format(list.weekOf, 'dd-MMM-yy')}"></td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>[[${list.weekTotal}]] hrs</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section style="margin-top: 20px" class="bg-white">
            <div class="row p-3">
                <div class=" col-sm-8 ">
                    <div style="height: 300px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Your Current Projects</h5>
                            <p class="card-text"></p>
                            <table class="table table-hover ">

                                <thead class="">
                                <tr>
                                    <th style="width:10px">
                                        <a class="btn btn-outline-primary  rounded-0" th:href="@{/{id}/project/new (id=${contractor.id})}"><i class="bi bi-plus"></i></a>
                                    </th>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Ending</th>
                                    <th>Progress</th>
                                    <th style="text-align: center;"></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr style="vertical-align: middle;"  th:each="proj: ${listProjects}">
                                    <td>
                                        <a class="btn rounded-0 text-primary fw-bold "
                                           th:href="@{/{c_id}/project/{id}/edit (id=${proj.p_id}, c_id=${proj.contractor.id})}"><i class="bi bi-eye"></i></a>
                                    </td>
                                    <td>[[${proj.projectNumber}]]</td>
                                    <td>[[${proj.projectName}]]</td>
                                    <td>[[${proj.endDate}]]</td>
                                    <td>
                                        <div th:switch="${proj.progress}">
                                            <!--  0%-->
                                            <div th:case="'0'" class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <!--  25%-->
                                            <div th:case="'25'" class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <!--  50%-->
                                            <div th:case="'50'" class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <!--  75%-->
                                            <div th:case="'75'" class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <!--  100%-->
                                            <div th:case="'100'" class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div>

                                           <a class="btn rounded-0 btn-primary"
                                              th:href="@{/{c_id}/project/{id}/delete (id=${proj.p_id}, c_id=${proj.contractor.id})}"> <i class="bi bi-trash3"></i></a>-->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div  class="col-sm-4">
                    <div style="height: 300px;" class="card rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">Your Recent Earnings</h5>
                            <p class="card-text"></p>
                            <table style="vertical-align: middle;"  class="table table-hover ">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th></th>
                                    <th></th>
                                    <th>Hours</th>
                                    <th></th><th></th><th></th>
                                    <th>Income</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list: ${weeksPaidList}">
                                    <td th:text="${#dates.format(list.weekOf, 'dd-MMM-yy')}"></td>
                                    <td></td>
                                    <td></td>
                                    <td>[[${list.weekTotal}]] hrs</td>
                                    <td></td><td></td><td></td>
                                    <td id="sum" th:text="'£'+${list.project.rate * list.weekTotal}"> </td>
                                    <script>
                                    document.getElementById('sum').innerHTML = (Math.round(Number(<param name="sum">).toFixed(2); * 100) / 100).toFixed(2);
                                    </script>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
<footer th:replace="fragments/layouts/footer :: foot"></footer>
</body>
</html>
