
<!--contractor credentials-->
<div th:fragment="cred" id="cred" class="form-group row">
    <div class="my-0">
    <label class="form-label">First Name: </label>
    <input type="text" th:field="*{firstname}" class="form-control rounded-0"
           required minlength="2" maxlength="20"/>
    </div>

    <div class="my-0">
    <label class="form-label">Last Name: </label>
    <input type="text" th:field="*{lastname}" class="form-control rounded-0"
           required minlength="2" maxlength="20"/>
    </div>

    <div class="my-0">
        <label class="form-label">Email: </label>
        <input id="email" type="email" th:field="*{email}" class="form-control rounded-0"  />
    </div>

    <div class="my-0">
    <label class="form-label">Password: </label>
    <input id="pwd" for="pwd" type="password" th:field="*{password}" class="form-control rounded-0"
           required minlength="6" maxlength="64"/>
    </div>

    <div class="my-0">
    <label class="form-label" for="cpwd">Confirm Password: </label>
    <input type="password" class="form-control rounded-0" id="cpwd" required />
    </div>
    <!-- PASSWORD VALIDATION -->
    <label class="col-0 col-form-label" id="passwordcheck"></label>
    <script >
    $(document).ready(function(){
    $('#cpwd').on('keyup', function(){
        var pwd = $('#pwd').val();
        var cpwd = $('#cpwd').val();
        if(pwd != cpwd)
            $("#passwordcheck").html("Password does not match!").css("color", "red");
        else
            $("#passwordcheck").html("");
        });
    });
  </script>
</div>

<!--contractor credentials-->
<div th:fragment="login" id="login" class="form-group row">
    <div th:if="${param.error}">
        <p class="text-danger">That email and password combination does not a match</p>
    </div>

    <div th:if="${param.logout}">
        <p class="text-warning">You have been logged out.</p>
    </div>

    <div class="my-0">
        <label class="form-label">Email: </label>
        <input type="email" name="email" class="form-control rounded-0" required autofocus />
    </div>

    <div class="my-0">
        <label class="form-label">Password: </label>
        <input for="pwd" type="password" name="password" class="form-control rounded-0"
               required minlength="6" maxlength="64" />
    </div>

</div>




<!--contractor profile details-->
<div th:fragment="profile" id="profile" class="form-group row">
    <label hidden class="col-4 col-form-label">Profile ID: </label>
    <input hidden readonly th:field="*{cp_id}" th:value="${profile.cp_id}" class="form-control rounded-0"
           required minlength="2" maxlength="20"/>

    <div class="col-md-6 my-0">
    <label class="form-label">Company Name: </label>
    <input type="text"  th:field="*{companyName}" class="form-control rounded-0"
           required minlength="2" maxlength="20"/>
    </div>

    <div class="col-md-6 my-0">
    <label class="form-label">Phone Number: </label>
    <input step="1" th:field="*{phoneNumber}" class="form-control rounded-0"
           required />
    </div>

    <div class="col-12 my-0">
    <label class="form-label">1st Line Address: </label>
    <input type="text" th:field="*{addressFirstLine}" class="form-control rounded-0"
           required minlength="2" maxlength="20"/>
    </div>

    <div class="col-12 my-0">
    <label class="form-label">2nd Line Address: </label>
    <input type="text" th:field="*{addressSecondLine}" class="form-control rounded-0"
           required minlength="2" maxlength="500"/>
    </div>

    <div class="col-md-6 my-0">
    <label class="form-label">City: </label>
    <input type="text" th:field="*{city}" class="form-control rounded-0"
           required minlength="2" maxlength="20"/>
    </div>

    <div class="col-md-6 my-0">
    <label class="form-label">Postcode: </label>
    <input type="text" th:field="*{addressPostcode}" class="form-control rounded-0"
           required step="0.1" />
    </div>

    <label  hidden class="col-4 col-form-label">ID: </label>
    <select hidden th:if="${profile.cp_id == null}"  th:field="*{contractor.id}" class="form-control rounded-0">
        <option th:text="${contractor.email}" th:value="${contractor.id}"></option>
    </select>
    <input hidden th:unless="${profile.cp_id == null}" class="form-control col-8 mb-4" th:field="*{contractor.id}" th:value="${contractor.id}"  />
</div>
