<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/layouts/header :: head"> </head>
<body>
<header id="top_bar_nav">
    <nav th:replace="fragments/layouts/nav :: nav_top"></nav>
</header>
<aside class="bg-white" id="left_sidebar_nav">
    <div class="nav flex-column" id="side_menu">
        <div class="container">
            <div id="wrapper">
                <div id="menu-overlay"></div>
                <div id="menu">
                    <ul class="ul_menu">
                        <li class="parent">
                            <a
                                    class="link-dark text-decoration-none fw-semibold fs-4"
                                    th:href="@{/{id}/test (id=${contractor.id})}"
                            >timepeace</a
                            >
                        </li>
                        <li class="parent">
                            <a
                                    class="link-dark text-decoration-none"
                                    th:href="@{/{id}/contractor (id=${contractor.id})}"
                            >
                                <i class="bi bi-house-door-fill"></i> Dashboard</a
                            >
                        </li>
                        <li class="parent">
                            <i class="bi bi-list-task"></i> Project
                            <ul class="sub-nav">
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="#"
                                    >View Projects</a
                                    >
                                </li>
                                <li>
                                    <a th:href="@{/{id}/project/new (id=${contractor.id})}"
                                    >Add Project</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <i class="bi bi-gear"></i> Account
                            <ul class="sub-nav">
                                <li th:if="${listProfile.isEmpty()}">
                                    <a
                                            class="dropdown-item"
                                            th:href="@{/{id}/profile/new (id=${contractor.id})}"
                                    >Profile Details</a
                                    >
                                </li>
                                <li
                                        th:each="prof: ${listProfile}"
                                        th:unless="${listProfile.isEmpty()}"
                                >
                                    <a
                                            class="dropdown-item"
                                            th:href="@{/{c_id}/profile/{id}/edit (id=${prof.cp_id}, c_id=${prof.contractor.id})}"
                                    >Profile Details</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            th:href="@{/edit/{id} (id=${contractor.id})}"
                                    >Account Settings</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li style="float:bottom" class="parent">
                            <a class="link-dark text-decoration-none" th:href="@{/{id}/contractor (id=${contractor.id})}">
                                <i class="bi bi-question-circle"></i> Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>

<main style="" class="bg-secondary bg-opacity-10" id="page_container">
    <article id="main_content">
        <section class="clearfix p-3">
            <div id="page_heading" class="float-start fw-semibold fs-5">
                <h1 class="fw-semibold fs-5">
                    Your Projects
                </h1>
            </div>
            <div class="float-end fs-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-6">
                        <li class="breadcrumb-item">
                            <a th:href="@{/{id}/contractor (id=${contractor.id})}">Project</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">View All</li>
                    </ol>
                </nav>
            </div>
        </section>

        <section id="upper_main_section">
            <div class="row p-3">
                <div class=" col-sm-12">
                    <div style="height: 420px;" class="card rounded-0">
                        <div class="card-body">
                            <figure>
                                <div id="AvgContainer"></div>
                            </figure>
                            <script th:inline="javascript">
                                var mapCategories = [[${averageHourPlots.keySet()}]];
                                var avgHoursMap = [[${averageHourPlots.values()}]];
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin: 20px 20px 20px 20px" class="card bg-white p-2 rounded-0" id="lower_main_section">
            <div style="margin-bottom:20px;" class=" fs-5 fw-semibold text-uppercase">All of your Projects</div>
            <table id="allProjectsTable" style="text-align: center; vertical-align: middle;" class="table table-hover bg-white p-3">
                <thead >
                <tr >
                    <th>Project Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Project Name</th>
                    <th>Company Name</th>
                    <th>Role</th>
                    <th>Progress</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: left;" th:each="proj: ${listProjects}">
                    <td>
                        <a  aria-label="viewProject" class="btn rounded-0 text-primary fw-bold "
                           th:href="@{/{c_id}/project/{id}/edit (id=${proj.p_id}, c_id=${proj.contractor.id})}">
                            <i class="bi bi-eye"></i> </a><span th:text="${proj.projectNumber}" ></span>
                    </td>

                    <td th:text="${proj.startDate}"></td>
                    <td th:text="${proj.endDate}"></td>
                    <td th:text="${proj.projectName}"></td>
                    <td th:text="${proj.companyName}"></td>
                    <td class="text-uppercase fw-semibold" th:text="${proj.role}"></td>
                    <td>
                        <div th:switch="${proj.progress}">
                            <!--  0%-->
                            <div th:case="'0'" class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--  25%-->
                            <div th:case="'25'" class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--  50%-->
                            <div th:case="'50'" class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--  75%-->
                            <div th:case="'75'" class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--  100%-->
                            <div th:case="'100'" class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </td>
                    <td th:text="${proj.status}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr></tr>
                </tfoot>
            </table>
        </section>
    </article>
</main>
<footer id="footer" th:replace="fragments/layouts/footer :: foot"></footer>
</body>
</html>
